$gray_coral: #595f72;
$dark_blue_gray: #575d90;
$antichoke_green: #84a07c;
$lavender: #ffeaec;
$white: #fff;
$error: #d65a4a;
$primary_font: 'Forum', cursive;
$secondary_font: 'Montserrat', sans-serif; ;
